.main {
    display: flex;
    border: 1px solid white;
    justify-content: space-between;
    flex-direction: column;
}
.wrapper{
   display: flex;
    justify-content: center;
    align-items: center;
}

.img_div {
    width: 373px;
    height: 350px;
    position: relative;
}

.img {
    height: 100%;
    width: 100%;
}
.h3, .p{
    background-color: white;
    width: 300px;
    margin: 2% auto;
    word-wrap: break-word;
}
.button{
    position: absolute;
    color: white;
    border: 1px solid white;
    padding: 8px;
}